#body{
    background-color: #003049;
}

#parrafo{
    color: #eae2b7;
    size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#titulo{
    color: #eae2b7;
    size: 36px;
    border: 2px solid #d62828;
}

#progres{
    color: #eae2b7;
}